<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DivideFloors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DivideFloors.Properties.Settings>
            <setting name="offset" serializeAs="String">
                <value />
            </setting>
            <setting name="thickness" serializeAs="String">
                <value />
            </setting>
            <setting name="width" serializeAs="String">
                <value />
            </setting>
            <setting name="length" serializeAs="String">
                <value />
            </setting>
            <setting name="material" serializeAs="String">
                <value />
            </setting>
        </DivideFloors.Properties.Settings>
    </userSettings>
</configuration>